<div class="container">
  <h2 class="mt-5">Temperature Data Visualization</h2>
  <%- include('../partials/spinner') %>
</div>
<script>
  // Get the loader and plot elements
  const loader = document.getElementById('loader');
  const plotDiv = document.getElementById('temperaturePlot');
  // Function to extract the location name from the URL
  function getlocationNameFromHref() {
    // Get the current URL from the browser's address bar
    const currentUrl = window.location.href;

    // Create a URL object from the current URL
    const url = new URL(currentUrl);

    // Get the pathname from the URL
    const pathname = url.pathname;

    // Split the pathname into parts using "/" as the delimiter
    const parts = pathname.split("/");

    // The last part of the path is the last element of the parts array
    const lastPart = parts[parts.length - 1];

    // Optionally, decode the URI component if you want the unescaped version
    return decodeURIComponent(lastPart);
  }
  // Hide the loader when the plot is ready
  function hideLoader() {
        loader.style.display = 'none';
    }

  // Extract the data from the JSON string
  const data = JSON.parse('<%- data %>');
  const trace1 = {
    x: data.date,
    y: data.averageTemp.map((item) => item.averageTemp),
    type: "scatter",
    marker: {
      color: "#17a2b8",
    },
  };
  // Define the layout of the graph
  const layout = {
    title: "Daily Average Temperature " + getlocationNameFromHref(),
    xaxis: {
      title: "Date",
      tickformat: "%Y-%m-%d",
      type: "date",
    },
    yaxis: {
      title: "Temperature (°C)",
    },
  };

  // Plot using Plotly
  Plotly.newPlot("temperaturePlot", [trace1], layout).then(hideLoader);
</script>
