<div class="container">
  <h2 class="mt-5">Temperature Data Visualization</h2>
  <div id="temperaturePlot" class="mt-4"></div>
</div>
<script>
  const data = JSON.parse('<%- data %>');
  const trace1 = {
    x: data.date,
    y: data.averageTemp.map((item) => item.averageTemp),
    type: "scatter",
    marker: {
      color: "#17a2b8",
    },
  };

  const layout = {
    title: "Daily Average Temperature",
    xaxis: {
      title: "Date",
      tickformat: "%Y-%m-%d",
    },
    yaxis: {
      title: "Temperature (°C)",
    },
  };

  Plotly.newPlot("temperaturePlot", [trace1], layout);
</script>
