<header>
  <nav
    class="navbar navbar-expand-md navbar-light fixed-top"
    style="background-color: #e3f2fd"
  >
    <a class="navbar-brand p-2" href="./">1dv027 - WT2</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="./">Karta</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Samtliga badplatser:
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="./watertemp/all"
                >Per dag</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="./watertemp/mean"
                >Hela året</a
              >
            </li>
          </ul>
        </li>
        <!-- Dropdown Menu -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Välj badplats:
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="./watertemp/location/Stöcksjöbadet"
                >Stöcksjöbadet</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="./watertemp/location/Ljumviken Havsbad"
                >Ljumviken Havsbad</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="./watertemp/location/Kärleksviken"
                >Kärleksviken</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="./watertemp/location/Bölesholmarna"
                >Bölesholmarna</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="./watertemp/location/Nydalabadet"
                >Nydalabadet</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="./watertemp/location/Bettnessand Havsbad"
                >Bettnessand Havsbad</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="./watertemp/location/Länkebo Havsbad"
                >Länkebo Havsbad</a
              >
            </li>
          </ul>
        </li>
        <!-- End of Dropdown Menu -->
      </ul>
    </div>
  </nav>
</header>
