<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h3>Historiska badvattentemperaturer 2019 från IoT projektet i Umeå</h3>
    <br />
    <p>
      Välkommen till min sida för att visualisera historiska
      badvattentemperaturer från IoT projektet i Umeå. Här kan du se
      medeltemperaturen för varje badplats.
    </p>
    <p>
      Under sommaren 2019 genomfördes en test med automatisk mätning av
      badvattentemperaturer vid vissa av kommunens publika badplatser.
      Mätningarna genomfördes inom ramen för IoT projektet och resultaten från
      dessa visades kontinuerligt på kommunens hemsida. Data kan saknas för
      vissa perioder, vanligtvis för att nätverket var nere just då, men det kan
      även vara så att sensorn inte placerats ut.
    </p>
  </div>
</div>
<!-- /container -->
